{% extends "rentals/base.html" %}
{% block content %}

<h1>Rentals</h1>

<a href="{% url 'create_rental' %}" class="btn">New Rental</a>

<style>
.btn {
    display:inline-block;
    padding:8px 14px;
    background:#3f51b5;
    color:white;
    border-radius:4px;
    text-decoration:none;
}
.btn:hover { background:#32408f; }

.return-btn {
    padding:6px 10px;
    background:#c62828;
    color:white;
    border-radius:4px;
    text-decoration:none;
}
.return-btn:hover {
    background:#8e0000;
}
</style>

<div class="scroll-table">
<table>
    <thead>
        <tr>
            <th>Instruments</th>
            <th>Customer</th>
            <th>Rental Date</th>
            <th>Returned?</th>
            <th>Return Date</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for r in rentals %}
        <tr>

            <td>
                {% for item in r.items.all %}
                    {{ item.instrument.name }}<br>
                {% endfor %}
            </td>

            <td>{{ r.customer.first_name }} {{ r.customer.last_name }}</td>
            <td>{{ r.rental_date }}</td>

            <td>
                {% if r.returned %}
                    <span style="color:green;">Yes</span>
                {% else %}
                    <span style="color:red;">No</span>
                {% endif %}
            </td>

            <td>{{ r.return_date }}</td>

            <td>
                {% if not r.returned %}
                    <a href="{% url 'return_rental' r.id %}" class="return-btn">Return</a>
                {% else %}
                    <span style="color:gray;">Completed</span>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
